.wrapper{
    width: 70%;
    margin: 0 15%;

    border: 1px solid gray;
    padding: 20px;
    float: left;
}

.algarismos{
    width:70%;
    float: left;
}

.algarismos button,
.operadores button{
    width: 100px;
    height: 100px;
    font-size: 20px;
}

.operadores{
    width: 30%;
    float: left;
}


.resultado{
    width:100%;
    float : left
}