.wrapper{
    width: 100%;
    float: left;
}

header {
    width: 100%;
    height: 50px;
}

nav {
    width: 100%;
    height: 50px;
}

nav .logo h1{
    color: orange;
    width: calc(50% - 40px);
    margin: 20px;
    float: left;
}
nav .menu {
    width: calc(50% - 10px);
    float: right;
    margin: 5px;
}

nav .menu li{
    float: left;
    color: grey;
    margin: 10px;
}

nav .menu .dropdown{
    display: none;
}

nav .menu li:hover .dropdown{
    display: block;
}

.hero {
    background-image: url(../images/light_bulb.jpg);
    width: 100%;
    height: 300px;
    float: left;
}

.hero h1 {
    font-size: 36px;
    font-style: bold;
    color: white;
    margin: 100px 200px 20px; 
}

.hero p{
    font-size: 20px;
    color: white;
    margin: 20px 150px 20px; 
}

.hero .botao{
    background-color: orange;
    float: left;
    width: 100px;
    height: 30px;
    margin-left: 150px;
    border-radius: 5px;
}

.hero .botao p{
    font-size: 15px;
    float: left;
    text-align: center;
    margin: 10px;
}



.quality {
    width: 100%;
    height: 200px;
    float: left;
    text-align: center;
}

.quality h1, .products h1, .service h1, .find-us h1{
    font-size: 24px;
    color: orange;
    margin: 40px;
    text-align: center;
}

.quality p, .service p, .find-us p{
    font-size: 16px;
    color: grey;
    margin: 20px 150px;
    text-align: center;
}


.caixas-imagens {
    width: 100%;
    height: 250px;
    float: left;
}

.caixas-imagens .unleash{
    width: 33.3%;
    height: 250px;
    background-image: url(../images/mung_beans.jpg);
    float: left;
}

.caixas-imagens .synergize{
    width: 33.3%;
    height: 250px;
    float: left;
    background-image: url(../images/coffee_beans_1.jpg);
}

.caixas-imagens .procastinate{
    width: 33.3%;
    height: 250px;
    float: left;
    background-image: url(../images/grapes.jpg);
}

.unleash h1, .synergize h1, .procastinate h1{
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 100px;
}

.products {
    width: 100%;
    height: 600px;
    float: left;
}

.products .caixas-products{
    width: 20%;
    height: 400px;
    margin: 30px;
    border: 1px solid black; 
    float: left;
}

.products .caixas-products h2{
    text-align: left;
    color: orange;
    font-size: 20px;
    padding: 10px;
}

.products .caixas-products p{
    text-align: left;
    padding: 10px;
    font-size: 15px;
    color: grey;
}

.products .caixas-products .frame img{
    width: calc(100% - 20px);
    margin: 10px;
}

.add-to-cart{
    width: 100%;
    margin: 10px;
}

.add-to-cart .input{
    width: 30%;
    height: 18px;
    background: white;
    border: 1px solid grey;
    float: left;
}

.add-to-cart .input p{
    width: 100%;
    font-size: 10px;
    color: grey;
}

.add-to-cart .botao p{
    color: white;
    font-size: 10px;
}

.add-to-cart .botao, .footer .newsletter .enter-email .botao{
    width: calc(30% - 2px);
    height: 20px;
    background: orange;
    float: left;
}

.service{
    background: white;
    width: 100%;
    height: 500px;
    float: left;
}

.img-service{
    width: 400px;
    float: left;
    margin-top: 20px;
    margin-left: 35%;
    border-radius: 80%;
    overflow: hidden;
}

.img-service img{
    width: 100%;
    float: left;
}

.find-us {
    background-color: white;
    width: 100%;
    height: 750px;
    float: left;
}

.find-us .contact-us p{
    margin: 5px;
}

.img-map img{
    width: 100%;
}

.footer{
    background-color: rgb(251, 249, 249);
    width: 100%;
    height: 200px;
    float: left;
}

.footer .information, .footer .my-account, .footer .newsletter{
    width: calc(33.3% - 80px);
    float: left;
    margin: 40px;
}

.footer .information li, .footer .my-account li, .footer .newsletter p{
   font-size: 12px;
   margin: 5px 0px;
   color: grey;
}

.footer .newsletter .enter-email{
    width: 100%;
    float: left;
}

.footer .newsletter .enter-email .input{
    width: 50%;
    float: left;
    height: 18px;
    background: white;
    border: 1px solid grey;
    padding: 0px 5px;
}

.footer .newsletter .enter-email .botao{
    width: calc(20% - 2px);
    float: left;
}

.footer .newsletter .enter-email .botao p{
    color: white;
    text-align: center;
}

.copyright{
    width: 100%;
    text-align: center;
}

.links{
    width: 20%;
    margin-left: 40%;
    float: left;
    margin-top: 20px;
}

.links li{
    float: left;
    width: 33.33%;
    font-size: 10px;
    color: orange;
}

.copyright p{
    width: 100%;
    float: left;
    font-size: 10px;
    color: grey;
    margin-top: 10px;
    margin-bottom: 20px;
}